{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },

  "AllowedHosts": "*",

  "SwaggerOption": {
    "ShowSwagger": true,
    "Title": "Sample",
    "Endpoint": "/swagger.json",
    "Versions": ["v1"]
  },
}
