<nlog internalLogLevel="Info" internalLogFile="${currentdir}/logs/internal.log">

  <targets>

    <target
          header="["
          footer="]" name='jsonFile' type='File' fileName='${currentdir}/logs/${shortdate}.json'
          archiveFileName="${currentdir}/logs/archive/{#}.${shortdate}.gz"
          archiveEvery="Day"
          maxArchiveFiles="30"
          archiveNumbering="DateAndSequence"
          archiveAboveSize="5000000"
          archiveDateFormat="yyyy-MM-dd"
          keepFileOpen="false"
          >
          <layout type="CompoundLayout">
            <layout type='JsonLayout'>
              <attribute name='time' layout='${longdate}' />
              <attribute name='level' layout='${level:upperCase=true}'/>
              <attribute name='data' encode='false'  >
              <layout type='JsonLayout'>
                <attribute name='message' layout='${message}' />
                <attribute name='stacktrace' layout='${exception:format=ToString,StackTrace}' />
              </layout>
              </attribute>
            </layout>
            <layout type="SimpleLayout" text=","/>
          </layout>
    </target>

  </targets>

  <rules>
      <logger name="*" level="Debug,Info,Error" writeTo="jsonFile" />
  </rules>

</nlog>
